@import "./../../../theme/colors";

$size: 180px;
$radius: 8px;
$firework-color: #ffcc00;

.box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 8px;
  padding: 16px;
  border-radius: $radius;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

  &--item {
    border-radius: $radius;
    border: 1px solid $secondary;
    width: $size;
    height: $size;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $base;
    font-size: 24px;
    font-weight: bold;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

    &:not(:last-child) {
      margin-right: 8px;
    }

    &.hide {
      opacity: 0;
    }
  }

  &.fireworks {
    animation: fireworks 2s infinite;
  }
}

@media (max-width: 768px) {
  .box {
    &--item {
      height: 80px;
      width: 80px;
    }
  }
}

@keyframes fireworks {
  0% {
    box-shadow: 0 0 10px 3px $firework-color;
  }
  50% {
    box-shadow: 0 0 20px 6px $secondary;
  }
  100% {
    box-shadow: 0 0 10px 3px $firework-color;
  }
}
