@import "./../../../theme/colors";

.proposal {
  text-align: center;
  padding: 50px;

  h1 {
    font-size: 3em;
    color: $secondary;
    margin: 0;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px $base;
  }

  img {
    width: 50%;
    height: 50%;
  }
}

.shake-text {
  display: inline-block;
  animation: shake 3s infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-5px);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translateX(5px);
  }
}

.background-container {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: -1; /* Para enviar la imagen al fondo */
}
